.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
    margin: 70px 70px 0;
    padding: 0 0 15px 0;
}

.search-form__input {
    width: 100%;
    text-align: center;
    border: none;
    outline:none;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0 0 0 45px;
}

.search-form__input::placeholder {
    color: #A0A0A0;
}

.search-form__icon {
    width: 35px;
    height: 35px;
    background-image: url("../../images/search-form_icon.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    margin: 0 0 0 5px;
    padding: 0;
}

.search-form__button {
    width: 35px;
    height: 35px;
    background-image: url("../../images/search-form_btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    margin: 0 3px 0 46px;
}

.search-form__button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .search-form {
        margin: 80px 30px 0;
    }
}

@media screen and (max-width: 400px) {
    .search-form {
        margin: 85px 14px 0;
        padding: 0 0 10px 0;
    }

    .search-form__icon {
        display: none;
    }

    .search-form__input {
        width: 100%;
        text-align: left;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }
}