.about-project {
    color: #000;
    font-family: Inter, sans-serif;
    font-style: normal;
    padding: 110px 70px;
}

.about-project__title {
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px #000 solid;
    padding: 0 0 23px 0;
    margin: 0;
}

.about-project__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 40px 26px;
    margin: 70px 0 0;
}

.about-project__subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
    margin: 0;
    padding: 0;
}

.about-project__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.about-project__schema {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(2, auto);
    gap: 0;
    margin: 110px 0 0;
    padding: 0;
}

.about-project__schema-progress {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: #F2F2F2;
    padding: 9px 14px;
}

.about-project__schema-progress_color_green {
    background-color: #2BE080;
}

.about-project__schema-subscription {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    margin: 14px 0 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .about-project {
        padding: 90px 50px;
    }

    .about-project__content {
        gap: 22px 30px;
    }

    .about-project__paragraph {
        line-height: 18px;
    }

    .about-project__schema {
        margin: 93px 0 0;
    }
}

@media screen and (max-width: 400px) {
    .about-project {
        padding: 70px 18px;
    }

    .about-project__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding: 0 0 28px 0;
    }

    .about-project__content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 0;
        margin: 60px 0 0;
    }

    .about-project__subtitle {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project__paragraph {
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        margin: 16px 0 56px;
        padding: 0;
    }

    .about-project__schema {
        margin: 4px 0 0;
    }

    .about-project__schema-progress {
        font-size: 11px;
        padding: 11px 10px;
    }

    .about-project__schema-subscription {
        font-size: 11px;
        font-weight: 400;
        line-height: normal;
        margin: 10px 0 0;
        padding: 0;
    }
}