.nav-movie {
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    color: #000;
}

.nav-movie__links {
    list-style: none;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.nav-movie__link {
    color: #000;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav-movie__link-item {
    margin: 0 0 0 0;
    padding: 0;
    margin: 0 16px 0 0;
}

.nav-movie__link_color_white {
    color: #fff;
}

.nav-movie__link_bold {
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.nav-movie__link:hover {
    opacity: .7;
    cursor: pointer;
}

.profile-link {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    margin: 0;
}

.profile-link_bold {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.profile-link_color_white {
    color: #fff;
}

.profile-link:after {
    height: 20px;
    content: '';
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 4C8.5 5.38071 7.38071 6.5 6 6.5C4.61929 6.5 3.5 5.38071 3.5 4C3.5 2.61929 4.61929 1.5 6 1.5C7.38071 1.5 8.5 2.61929 8.5 4ZM10 4C10 6.20914 8.20914 8 6 8C3.79086 8 2 6.20914 2 4C2 1.79086 3.79086 0 6 0C8.20914 0 10 1.79086 10 4ZM4 9.25C1.92893 9.25 0.25 10.9289 0.25 13V14H1.75V13C1.75 11.7574 2.75736 10.75 4 10.75H8C9.24264 10.75 10.25 11.7574 10.25 13V14H11.75V13C11.75 10.9289 10.0711 9.25 8 9.25H4Z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: #F9F9F9;
    border: none;
    background-origin: content-box;
    background-size: cover;
    padding: 8px 15px;
    margin: 0 0 0 17px;
}

.profile-link:hover {
    opacity: .7;
    cursor: pointer;
}

.nav-movie__btn {
    display: none;
    width: 44px;
    height: 44px;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M36 14L8 14V11L36 11V14Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M36 24L8 24V21L36 21V24Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M36 34L8 34V31L36 31V34Z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

.nav-movie__btn:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .nav-movie__links {
        display: none;
    }

    .profile-link {
        display: none;
    }

    .nav-movie {
        width: auto;
    }

    .nav-movie__btn {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .nav-movie__btn {
        width: 40px;
        height: 43px;
    }
}