.footer {
    background-color: #FAFAFA;
    padding: 79px 70px 20px;
    display: flex;
    flex-direction: column;
    font-family: ''Inter'', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__text {
    text-align: center;
    color: #A0A0A0;
    padding: 0 0 20px;
    margin: 0;
    border-bottom: 1px solid #E8E8E8;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.footer__copyright {
    color: #000;
    text-decoration: none;
    border: 0;
    height: min-content;
    margin: 0;
    padding: 0;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-content: center;
    text-align: right;
}

.footer__link {
    color: #000;
    text-decoration: none;
    border: 0;
    height: min-content;
    margin: 0 0 0 20px;
    padding: 0;
}

.footer__link:hover {
    opacity: .7;
    cursor: po'Inter';
}


@media screen and (max-width: 768px) {
    .footer {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        background-color: #fff;
        padding: 79px 10px 20px;
        font-size: 12px;
        line-height: normal;
    }
    .footer__text {
        padding: 0 0 21px;
        margin: 0;
    }
    .footer__content {
        margin: 30px 0 0 0;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .footer__copyright {
        color: #A0A0A0;
    }
    .footer__links {
        margin: 0 0 18px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__link {
        margin: 0 0 12px 0;
    }
}